@tailwind base;
@tailwind components;
@tailwind utilities;

/* Markdown styles */
/* Lists */
.markdown ul {
  @apply ml-5;
}
.markdown li {
  @apply mb-3;
}
.markdown ul {
  @apply list-disc;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 0.1em;
}

html,
body {
  min-height: 100%;
}
