@tailwind base;
@tailwind components;
@tailwind utilities;

/* Markdown styles */
/* Lists */
.markdown ul {
  @apply ml-5;
}
.markdown li {
  @apply mb-3;
}
.markdown ul {
  @apply list-disc;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  letter-spacing: 0.1em;
}

html,
body {
  min-height: 100%;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 1s ease-in-out forwards 0.5s;
}
